<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Instagram</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<main id="login">
		<div class="login__column" id="disable__div">
			<img class="changing__image" src="/images/phoneImage.png" />
			<img class="changing__image2" src="/images/phoneImage2.png" />
			<img class="changing__image3" src="/images/phoneImage3.png" />
			<img class="changing__image4" src="/images/phoneImage4.png" />
			<img class="changing__image5" src="/images/phoneImage5.png" />
		</div>
		<div class="login__column">
			<div class="login__box" id="main__loginbox">
				<img src="/images/loginLogo.png" />
				<form action="/auth/login" method="post" class="login__form">
					{{! placeholder 말고 highlighter로 변경할것 }}
					<div class="group">
						<input type="text" name="username" required> 
     				<label>사용자 이름</label>
					</div>
					<div class="group">
					<input type="password" name="password" required>
					<label>비밀번호</label>
					</div>
						 <input type="submit" value="로그인">
				</form>
				<span class="login__divider"> 또는 </span> 
				<a href="/oauth2/authorization/facebook" class="login__fb-link"><i class="fa fa-facebook-square"></i> Facebook으로 로그인</a>
				 <a href="#" class="login__small-link">비밀번호를 잊으셨나요?</a>
			</div>
			<div class="login__box" id="bottom__loginbox">
				<span class="login__text"> 계정이 없으신가요? <br />
				</span> <a class="login__blue-link" href="/auth/joinForm">가입하기</a>
			</div>
			<div class="login__t-box">
				<span class="login__text"> 앱을 다운로드하세요. </span>
				<div class="login__appstores">
					<img src="/images/ios.png" class="login__appstore" /> <img src="/images/android.png" class="login__appstore" />
				</div>
			</div>
		</div>
	</main>

	{{>layout/footer}}