<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Instagram</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <script src="/js/pwChange.js"></script>

    <main id="login">
      <div class="login__column" id="for__join">
        <div class="login__box">
          <img src="/images/loginLogo.png" />
          <span class="login__divider2">
            친구들의 사진과 동영상을 보려면 <br />가입하세요.
          </span>
          <form
            id="newPasswrod"
            action="/auth/pwChange"
            method="post"
            class="login__form"
          >
            <!-- <input type="text" name="id" th:value="${id}" th:text="${id}" /> -->
            <div class="group">
              <input
                type="text"
                name="username"
                th:value="${user.username}"
                readonly
              />
              <!-- <label th:text="|사용자 이름|">Username</label> -->
            </div>
            <div class="group">
              <input type="password" name="oldPassword" required />
              <label th:text="|기존 비밀번호|">비밀번호</label>
            </div>
            <div class="group">
              <input type="password" name="newPassword" required />
              <label th:text="|변경할 비밀번호|">비밀번호</label>
            </div>
            <div class="group">
              <input type="password" name="newRePassword" required />
              <label th:text="|비밀번호 확인|">비밀번호</label>
            </div>

            <input type="submit" value="비밀번호변경" />
          </form>
          <span class="login__divider2">
            가입하면 lnstagram의 약관, 데이터 <br />정책 및 쿠키 정책에 동의하게
            됩니다.
          </span>
          <a href="/oauth2/authorization/facebook" class="login__fb-link"
            ><i class="fa fa-facebook-square"></i> Facebook으로 로그인</a
          >
        </div>
        <div class="login__box">
          <span class="login__text"> 계정이 있으신가요? <br /> </span>
          <a class="login__blue-link" href="/auth/loginForm">로그인</a>
        </div>
        <div class="login__t-box">
          <span class="login__text"> Get the app. </span>
          <div class="login__appstores">
            <img src="/images/ios.png" class="login__appstore" />
            <img src="/images/android.png" class="login__appstore" />
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="layout/footer :: footer"></footer>
  </body>
</html>
