<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head th:replace="layout/header :: header"> </head>
  <body>
    <!-- chatTemplate 링크들 -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/chattingStyle.css" />
    <!-- chatTemplate 링크들 -->

    <!-- stomp 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <!-- stomp 라이브러리 추가 -->
    <nav th:replace="layout/header :: menu"></nav>

    <!-- 채팅 영역 시작 -->
    <div class="main-section">
      <div class="head-section">
        <div class="headLeft-section">
          <div class="headLeft-sub">
            <input type="text" name="search" placeholder="Search..." />
            <button><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="headRight-section">
          <div class="headRight-sub">
            <h3>UserName Section</h3>
            <small>Last Message content Section</small>
          </div>
        </div>
      </div>
      <div class="body-section">
        <div
          class="left-section mCustomScrollbar"
          id="for-scroll"
          data-mcs-theme="minimal-dark"
        >
          <ul>
            <li>
              <div class="chatList">
                <div class="img">
                  <i class="fa fa-circle"></i>
                  <img
                    src="/demo/man01.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">05:30 am</small>
                  <h5>Luis Yankee</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <i class="fa fa-circle"></i>
                  <img
                    src="/demo/man02.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">3 day</small>
                  <h5>Joi Chak</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li class="active">
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">4 day</small>
                  <h5>Lajy Ion</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">18 day</small>
                  <h5>Lod Kine</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <i class="fa fa-circle"></i>
                  <img
                    src="/demo/man01.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">11:50 am</small>
                  <h5>Nik Minaj</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man02.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">20 day</small>
                  <h5>Win Sina</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">18 day</small>
                  <h5>Jack Clerk</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man02.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">20 day</small>
                  <h5>Win Sina</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
            <li>
              <div class="chatList">
                <div class="img">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </div>
                <div class="desc">
                  <small class="time">18 day</small>
                  <h5>Jack Clerk</h5>
                  <small>Lorem ipsum dolor sit amet...</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-section">
          <div
            class="message mCustomScrollbar"
            id="for-scroll"
            data-mcs-theme="minimal-dark"
          >
            <ul>
              <li class="msg-left">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-right">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-day"><small>Wednesday</small></li>
              <li class="msg-left">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-right">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-left">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man03.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-right">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-right">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
              <li class="msg-right">
                <div class="msg-left-sub">
                  <img
                    src="/demo/man04.png"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                  <div class="msg-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </div>
                  <small>05:25 am</small>
                </div>
              </li>
            </ul>
          </div>
          <div class="right-section-bottom">
            <form>
              <div class="upload-btn">
                <button class="btn"><i class="fa fa-photo"></i></button>
                <input type="file" name="myfile" />
              </div>
              <input type="text" name="" placeholder="type here..." />
              <button class="btn-send"><i class="fa fa-send"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 채팅영역 끝 -->

    <div class="chatting-main">
      <h1>set name : <input id="name" placeholder="please set your name" /></h1>
      <button id="connectBtn">접속하기</button>
      <button id="disconnectBtn">접속끊기</button>
      <h3 id="helloConnectText" style="display: none">
        접속에 성공하였습니다.
      </h3>
      <h3>to : <input id="to" placeholder="to ..." /></h3>
      <input id="sendMsg" /> <button id="sendMsgBtn">메시지 전송</button>
      <ul id="chatUl">
        <li>채팅내용~</li>
      </ul>

      <script>
        const ul = document.getElementById("chatUl");
        const helloTextH2 = document.getElementById("helloConnectText");
        const name = document.getElementById("name");
        const connectBtn = document.getElementById("connectBtn");
        const disconnectBtn = document.getElementById("disconnectBtn");
        const sendBtn = document.getElementById("sendMsgBtn");
        const message = document.getElementById("sendMsg");
        const toUser = document.getElementById("to");

        var stompClient = null;

        sendBtn.addEventListener("click", () => {
          send(toUser.value, message.value);
        });
        connectBtn.addEventListener("click", function () {
          connect(name.value);
        });
        disconnectBtn.addEventListener("click", function () {
          disconnect(name.value);
        });

        function disconnect(name) {
          if (stompClient === null) {
            alert("연결중이 아닙니다.");
          } else {
            stompClient.disconnect(function () {
              alert("연결해제 되었습니다.");
            });
          }
        }

        function connect(name) {
          console.log(name);
          var socket = new SockJS("/chat"); // 해당 경로로 websocket 을 요청한다.
          stompClient = Stomp.over(socket); // WebSocket 위에 Stomp를 얻는다.
          stompClient.connect({}, function (frame) {
            console.log(frame);
            // 연결 성공
            helloTextH2.style.display = "inline";
            stompClient.send("/app/user", {}, JSON.stringify({ name: name })); // 유저를 등록하기 위해 보냄
            stompClient.subscribe("/topic/user/" + name, function (message) {
              if (message != null) {
                var id = JSON.parse(message.body).id;
                var msg = JSON.parse(message.body).message;
                addChatLine(id, msg, false);
              }
            });
          });
        }
        // connect();
        /**
         * 타켓팅 되는 유저에게 보냅니다.
         */
        function send(toUser, message, isMe) {
          var message =
            // 어떻게 보낼 지 메시지의 형태를 정합니다.
            {
              id: name.value,
              message: message,
            };

          addChatLine(message.id, message.message, true); // 내가 보내는 내용을 chat 창에 띄웁니다.
          stompClient.send(
            "/topic/user/" + toUser,
            {},
            JSON.stringify(message)
          ); // example , 경로가 "topic/user/minshik"인 녀석에게 메시지를 보냅니다.
          // "topic/user/{id}" 로 매핑된 메소드 실행
        }

        function addChatLine(id, msg, isMe) {
          const li = document.createElement("li");
          if (!isMe) {
            li.innerText = id + " : " + msg;
          } else {
            li.innerText = "나 : " + msg;
          }
          ul.appendChild(li);
        }
      </script>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="/js/thinScrollbar.js"></script> -->
    <footer th:replace="layout/footer :: footer"></footer>
  </body>
</html>
