<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head th:replace="layout/header :: header"></head>
  <!-- {{>layout/header}} -->
  <body>
    <nav th:replace="layout/header :: menu"></nav>
    <main id="explore">
      <ul class="explore__users u-default-box">
        <div th:each=" i : ${notis}">
          <!-- {{#notis}} -->
          <li class="explore__user">
            <div class="explore__content">
              <a
                href="/user/fromUser/id"
                th:href="|/user/${session.loginUser.id}|"
              >
                <!-- <a href="/user/{{fromUser.id}}"> -->
                <img
                  src="/upload/#{fromUser.profileImage}{fromUser.profileImage}{/fromUser.profileImage}"
                  onerror="this.src='/images/avatar.jpg'"
                />
                <!-- <img src="/upload/{{#fromUser.profileImage}}{{fromUser.profileImage}}{{/fromUser.profileImage}}" onerror="this.src='/images/avatar.jpg'" /> -->
              </a>
              <div class="explore__info">
                <span class="explore__username">
                  <p th:text="${i.fromUser.name}+'이'"></p>
                  <p th:text="${i.notiType.key}+' 하였습니다.'"></p>
                  <!-- {{fromUser.name}}이 {{notiType.key}} 하였습니다. -->
                </span>
              </div>
            </div>
          </li>
        </div>
        <!-- {{/notis}} -->
      </ul>
    </main>
    <script src="/js/follow.js"></script>
    <!-- {{>layout/footer}} -->
    <footer th:replace="layout/footer :: footer"></footer>
  </body>
</html>
