<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head th:replace="layout/header :: header"> </head>
  <body>
    <link rel="stylesheet" href="/css/board.css" />
    <!-- feed에서 메시지 아이콘 눌렀을때 이동 될 화면 -->
    <nav th:replace="layout/header :: menu"></nav>

    <main id="feed">
      <!-- <img th:src="@{|/upload/${board.imageUrl}|}" />
      test -->

      <div
        class="feed_only"
        style="width: 935px; max-height: 600px"
        th:fragment="board(board)"
      >
        <div
          id="forrefresh"
          class="photo u-default-box"
          th:each="images : ${board}"
          style="display: flex; max-width: none"
        >
          <div class="full-image">
            <div class="photo_post_image">
              <!-- 사진 꽉 채우기 css -->
              <!-- <img src="/upload/{{imageUrl}}" /> -->
              <img th:src="@{|/upload/${images.imageUrl}|}" />
            </div>

            <div id="contents-boxing">
              <header class="photo__header">
                <a th:href="|/user/${images.user.id}|">
                  <img
                    src="/upload/"
                    th:src="|/upload/${images.user.profileImage}|"
                    onerror="this.src='/images/avatar.jpg'"
                  />
                </a>
                <a
                  th:href="|/user/${images.user.id}|"
                  style="text-decoration: none; color: black"
                >
                  <span
                    class="photo__username"
                    th:text="${images.user.username}"
                    >여긴유저이름나오는곳</span
                  >
                </a>
                <div style="display: flex; margin-left: auto">
                  <a
                    class="board-img-box"
                    type="button"
                    data-toggle="modal"
                    data-target="#myModal3"
                  >
                    <img src="/images/ellipsis.png" />
                  </a>
                </div>
              </header>
              <div class="for-devide"></div>
              <div class="photo__info">
                <div class="content-padding">
                  <div
                    th:if="${images.caption}!= null"
                    style="margin-bottom: 4px"
                  >
                    <span class="photo__likes" th:text="${images.user.username}"
                      >글작성자이름
                    </span>
                    <span th:text="${images.caption}">글내용</span>
                  </div>

                  <div class="photo_tag" style="display: flex">
                    <!-- {{#tags}} -->
                    <!-- <a th:href="/image/feed?tag={{name}}">asd</a> -->
                    <div
                      th:each="tags : ${images.tags}"
                      style="
                        display: flex;
                        width: fit-content;
                        margin-right: 4px;
                      "
                    >
                      <a
                        th:href="|/image/feed?tag=${tags.name}|"
                        th:text="|#${tags.name}|"
                        >asd<!-- #{{name}} --></a
                      >
                    </div>
                    <!--  {{/tags}} -->
                  </div>
                  <div class="comments__ul__div">
                    <ul class="photo__comments">
                      <div th:each="comments : ${images.comments}">
                        <!-- {{#comments}} -->
                        <li class="photo__comment">
                          <span
                            class="photo__comment-author"
                            th:text="${comments.user.username}"
                            >{{user.username}}</span
                          >
                          <span
                            style="font-size: 12px"
                            th:text="${comments.content}"
                            >{{content}}</span
                          >
                          <span th:if="${comments.commentHost} == true">
                            <!-- {{#commentHost}} -->
                            <!-- <i onclick="commentDelete({{id}});" class="fa fa-trash"></i> -->
                            <i
                              th:onclick="|commentDelete('${comments.id}');|"
                              class="fa fa-trash trash__attribute"
                            >
                            </i>
                            <!-- {{/commentHost}} -->
                          </span>
                        </li>
                        <!-- {{/comments}} -->
                      </div>
                    </ul>
                  </div>
                </div>
                <!-- 하단영역시작 -->
                <div class="contentBox-bottomSection">
                  <div class="for-devide"></div>
                  <div class="icon-margin">
                    <div class="photo__actions">
                      <!-- <span class="photo__action" th:if="${images.likeState == true}"> -->
                      <span class="photo__action">
                        <!--  {{#likeState}} -->
                        <i
                          th:if="${images.likeState == true}"
                          class="fa heart heart-clicked fa-heart"
                          th:onclick="|unLike(${images.id});|"
                        ></i>
                        <!--  {{/likeState}} 
                
                {{^likeState}} -->
                        <!-- <i class="fa fa-heart-o heart" th:onclick="like({{id}});"></i> -->
                        <i
                          th:unless="${images.likeState == true}"
                          class="fa fa-heart-o heart"
                          th:onclick="|like(${images.id});|"
                        ></i>
                        <!--  {{/likeState}} -->
                      </span>
                      <span class="photo__action">
                        <!-- {{! 메시지 아이콘 부분}} -->
                        <!-- <a href="/user/{{loginUser.id}}" -->
                        <!-- <a th:href="|/user/${session.loginUser.id}|" -->
                        <a th:href="|/image/${images.id}|"
                          ><i style="color: black" class="fa fa-comment-o"></i
                        ></a>
                        <!--  {{! https://fontawesome.com/icons?d=gallery&q=user 아이콘
                주기}} -->
                      </span>
                    </div>

                    <div
                      th:if="${images.likeCount} != 0"
                      style="margin-bottom: 3px"
                    >
                      <span
                        class="photo__likes"
                        th:text="|${images.likeCount}명|"
                        >좋아요 수(몇명)</span
                      >이 좋아합니다
                    </div>

                    <span class="photo__date" th:text="${images.createDate}"
                      >{{createDate}}</span
                    >
                  </div>

                  <div class="for-devide1"></div>

                  <div class="photo__add-comment-container">
                    <!-- <form id="frm-{{id}}" style="width: 100%"> -->
                    <form th:id="|frm-${images.id}|" style="width: 100%">
                      <input
                        type="hidden"
                        name="userId"
                        th:value="${session.loginUser.id}"
                      />
                      <input
                        type="hidden"
                        name="imageId"
                        th:value="${images.id}"
                      />
                      <textarea
                        th:id="|content-${images.id}|"
                        name="content"
                        placeholder="댓글 달기..."
                      ></textarea>
                    </form>
                    <i
                      th:onclick="|commentSend('${images.id}');|"
                      class="comment-btn"
                      >게시</i
                    >

                    <!-- 아래는 댓글달기 버튼 원본 -->
                    <!-- <i
                    th:onclick="|commentSend('${images.id}');|"
                    class="fa fa-angle-right"
                  ></i> -->
                  </div>
                </div>
                <!-- 하단영역끝 -->
              </div>
            </div>
          </div>
          <!-- 새로만든 모달창 -->
          <!-- The Modal -->
          <div class="modal fade" id="myModal3">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div> -->

                <!-- Modal body -->
                <a
                  type="button"
                  class="modal-body"
                  th:onclick="|boardDelete('${images.id}','${images.user.id}');|"
                >
                  게시글 삭제
                </a>
                <a class="modal-body" href="" data-dismiss="modal"> 취소 </a>

                <!-- Modal footer -->
                <!-- <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div> -->
              </div>
            </div>
          </div>
          <!-- 새로만든 모달창 끝 -->
        </div>
        <!-- {{/images}} -->
        <script src="/js/comment.js"></script>
        <script src="/js/like.js"></script>
        <script src="/js/board.js"></script>
      </div>
    </main>

    <footer th:replace="layout/footer :: footer"></footer>
    <!-- <script th:inline="javascript">
      var username = [[${session.loginUser.id}]];
      alert(username);
    </script> -->
  </body>
</html>
