{{>layout/header}}
<main id="feed">

	{{#images}}
	<div class="photo u-default-box">
		<header class="photo__header">
			<img src="/upload/{{#user.profileImage}}{{user.profileImage}}{{/user.profileImage}}"  onerror="this.src='/images/avatar.jpg'" /> 
			<span class="photo__username">{{user.username}}</span>
		</header>
		<div class="photo_post_image"> <!-- 사진꽉채우기 css -->
			<img src="/upload/{{imageUrl}}" />
		</div>
		<div class="photo__info">
			<div class="photo__actions">
				<span class="photo__action">
					{{#likeState}}
						<i class="fa heart heart-clicked fa-heart" onclick="unLike({{id}})"></i>
					{{/likeState}}
					{{^likeState}}
						<i class="fa fa-heart-o heart" onclick="like({{id}})"></i>
					{{/likeState}}
				</span> 
			</div> 
			
			<div class="photo_tag">
				{{#tags}}
					#{{name}}
				{{/tags}}
			</div>
			<span class="photo__likes">{{likeCount}} likes</span>
			<br/><br/>
			<ul class="photo__comments">
				{{#comments}}
				<li class="photo__comment">
					<span class="photo__comment-author">{{user.username}}</span> 
					<span style="font-size:12px;">{{content}}</span>
					{{#commentHost}}
						<i onclick="commentDelete({{id}})" class="fa fa-trash"></i>
					{{/commentHost}}
				</li>
				{{/comments}}
			</ul>
			<span class="photo__date">{{createDate}}</span>
	
			<div class="photo__add-comment-container">
				
				<form id="frm-{{id}}" style="width:100%;">
					<input type="hidden" name="userId" value="{{loginUser.id}}" />
					<input type="hidden" name="imageId" value="{{id}}" />
					<textarea id="content-{{id}}" name="content"  placeholder="Add a comment..."></textarea>
				</form>	
				<i onclick="commentSend({{id}})" class="fa fa-angle-right"></i>
			</div>
		</div>
	</div>
	{{/images}}
	
</main>
<script>

</script>
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
{{>layout/footer}}


