<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Instagram</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- 모달창 만들기 위한 bootstrap4 링크들 시작 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 모달창 만들기 위한 bootstrap4 링크들 끝 -->

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav th:fragment="menu" id="nav__background">
      <div class="navigation">
        <a href="/">
          <img src="/images/logo2.png" />
        </a>
        <form action="/image/feed" method="get">
          <input name="tag" type="text" placeholder="검색" />
          <button style="background-color: white; border: 0">
            <i class="fa fa-search" style="font-size: 15px"></i>
          </button>
        </form>

        <div class="navigation__links">
          <a
            th:href="|/noti/${session.loginUser.id}|"
            class="navigation__link follow_popup"
          >
            <i class="fa fa-paper-plane-o"></i>
          </a>

          <a th:href="|/image/explore|" class="navigation__link follow_popup">
            <i class="fa fa-compass"></i>
          </a>
          <!-- 기존 알림(팔로우) -->
          <!-- <a
            th:href="|/noti/${session.loginUser.id}|"
            class="navigation__link follow_popup"
          >
            <i class="fa fa-heart-o"></i>
          </a> -->

          <!--알림(팔로우) 클릭 시 리스트박스 나오도록 구현 -->
          <div class="btn-group">
            <a
              href="#"
              class="navigation__link drop3"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-heart-o"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" id="f7Bj3">
              <div style="height: auto; overflow: hidden auto">
                <div
                  style="
                    flex-direction: column;
                    padding-bottom: 0px;
                    padding-top: 0px;
                  "
                >
                  <ul class="explore__users u-default-box">
                    <div th:each=" i : ${session.staticNoti}">
                      <li class="explore__user">
                        <div class="explore__content">
                          <a
                            href="/user/toUser/id"
                            th:href="|/user/${i.toUser.id}|"
                          >
                            <!-- 등록된 프로필 사진 나오도록 구현 -->
                            <img
                              th:src="|/upload/${i.toUser.profileImage}|"
                              onerror="this.src='/images/avatar.jpg'"
                            />
                          </a>
                          <div class="explore__info">
                            <a
                              th:href="@{|/user/${i.toUser.id}|}"
                              style="text-decoration: none"
                            >
                              <span class="explore__username"></span>
                              <p
                                style="color: black; font-weight: 500"
                                th:text="${i.toUser.name}"
                              ></p>
                            </a>
                            <!-- 회원님의 사진을 좋아합니다. 님이 댓글을 남겼습니다. -->
                            <p
                              th:if="|${i.notiType.key.equals('팔로우')}|"
                              th:text="'님이 회원님을 '+ ${i.notiType.key}+'하기 시작했습니다.'"
                            ></p>
                            <p th:if="|${i.notiType.key.equals('좋아요')}|">
                              님이 회원님의 사진을 좋아합니다
                            </p>
                            <p th:if="|${i.notiType.key.equals('댓글작성')}|">
                              님이 댓글을 남겼습니다.
                            </p>
                          </div>
                        </div>
                        <!-- 팔로우 버튼 구현 중(미완성)	
       <button th:unless="${list.followState == true}"	class="profile_edit_btn" th:onclick="|user(${i.fromUser.id});|">팔로우</button> -->
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- <a th:href="|/user/${session.loginUser.id}|" class="navigation__link">
            <i class="fa fa-user-o"></i>
          </a> -->
          <div class="btn-group">
            <a
              href="#"
              class="navigation__link drop4"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <!-- <i class="fa fa-user-o"></i> -->
              <i class="nav-profile-image">
                <img
                  src="/upload/{{#user.profileImage}}{{user.profileImage}}{{/user.profileImage}}"
                  th:src="|/upload/${session.loginUser.imageUrl}|"
                  onerror="this.src='/images/avatar.jpg'"
                />
              </i>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
              <li>
                <a
                  th:href="|/user/${session.loginUser.id}|"
                  class="dropdown-item"
                  >프로필</a
                >
              </li>
              <li>
                <a href="/user/profileEdit" class="dropdown-item" type="button"
                  >설정</a
                >
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <a href="/auth/logout" class="dropdown-item" type="button"
                  >로그아웃</a
                >
              </li>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
