<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Instagram</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- 모달창 만들기 위한 bootstrap4 링크들 시작 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 모달창 만들기 위한 bootstrap4 링크들 끝 -->

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav th:fragment="menu" id="nav__background">
      <div class="navigation">
        <a href="/">
          <img src="/images/logo2.png" />
        </a>
        <form action="/image/feed" method="get">
          <input name="tag" type="text" placeholder="검색" />
          <button style="background-color: white; border: 0">
            <i class="fa fa-search" style="font-size: 15px"></i>
          </button>
        </form>

        <div class="navigation__links">
          <a
            th:href="|/noti/${session.loginUser.id}|"
            class="navigation__link follow_popup"
          >
            <i class="fa fa-paper-plane-o"></i>
          </a>

          <a th:href="|/image/explore|" class="navigation__link">
            <i class="fa fa-compass"></i>
          </a>

          <a
            th:href="|/noti/${session.loginUser.id}|"
            class="navigation__link follow_popup"
          >
            <i class="fa fa-heart-o"></i>
          </a>

          <a th:href="|/user/${session.loginUser.id}|" class="navigation__link">
            <i class="fa fa-user-o"></i>
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>
