<footer th:fragment="sidefooter">
	<nav class="footer__nav">
		<ul class="side_footer__list">
			<li class="side_footer__item"><a href="#" class="side_footer__link">소개</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">도움말</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">홍보 센터</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">API</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">채용 정보</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">개인정보처리방침</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">약관</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">위치</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">인기 계정</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">해시태그</a></li>
			<li class="side_footer__item"><a href="#" class="side_footer__link">언어</a></li>

		</ul>
	</nav>
	<span class="side_footer__copyright">© 2020 INSTAGRAM FROM FACEBOOK</span>
</footer>

<script src="/js/app.js"></script>
<script src="/js/modal.js"></script>

</body>
</html>