<html>
  <head th:replace="layout/header :: header"></head>
  <body>
    <nav th:replace="layout/header :: menu"></nav>
    <main id="edit-profile">
      <div class="edit-profile__container u-default-box">
        <header class="edit-profile__header">
          <div class="fucker-container">
            <!--  프로필 사진 클릭 시 모달창 생성 -->
            <img
              th:src="|/upload/${respDto.user.profileImage}|"
              onerror="this.src='/images/avatar.jpg'"
              data-toggle="modal"
              data-target="#myModal2"
              th:styleappend="${respDto.pageHost} ? 'cursor:pointer' : 'cursor: default'"
            />
          </div>
          <!-- master comments -->
          <h1 class="edit-profile__username" th:text="${user.username}">
            <!-- {{user.username}} -->
          </h1>
        </header>
        <form id="frm" class="edit-profile__form">
          <input type="hidden" name="id" th:value="${user.id}" />
          <!-- <input type="hidden" name="id" value="{{user.id}}" /> -->
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="name" th:text="이름"
              >Name</label
            >
            <input name="name" type="text" th:value="${user.name}" />
            <!-- <input name="name" type="text" value="{{user.name}}" /> -->
          </div>
          <div class="edit-profile__row">
            <label
              class="edit-profile__label"
              for="username"
              th:text="|사용자 이름|"
              >Username</label
            >
            <input type="text" th:value="${user.username}" readonly />
            <!-- <input type="text" value="{{user.username}}" readonly /> -->
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="website" th:text="웹사이트"
              >Website</label
            >
            <input name="website" type="text" th:value="${user.website}" />
            <!-- value="{{#user.website}}{{user.website}}{{/user.website}}" -->
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="bio" th:text="소개"
              >Bio</label
            >
            <input name="bio" type="text" th:value="${user.bio}" />
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="email" th:text="이메일"
              >Email</label
            >
            <input type="email" th:value="${user.email}" readonly />
            <!-- <input type="email" value="{{user.email}}" readonly /> -->
          </div>
          <div class="edit-profile__row">
            <label
              class="edit-profile__label"
              for="phone-number"
              th:text="전화번호"
              >Phone Number</label
            >
            <input name="phone" type="text" th:value="${user.phone}" />
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="gender" th:text="성별"
              >Gender</label
            >
            <input name="gender" type="text" th:value="${user.gender}" />
          </div>
          <div class="edit-profile__row">
            <span></span>
            <button
              th:onclick="|userUpdate(${user.id})|"
              class="profile_follow_btn"
              type="button"
              th:text="|프로필 수정|"
            >
              회원수정
            </button>
            <!-- <button onclick="userUpdate({{user.id}})" class="profile_follow_btn" type="button"> -->
          </div>
        </form>
      </div>
    </main>
        <!-- 프로필이미지 클릭모달창 -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal2" th:if="${respDto.pageHost}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <!-- <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div> -->

          <!-- Modal body -->
          <div class="modal-body for__profile__modal">프로필 사진 바꾸기</div>
          <form
            id="frm_profile_img"
            action="/user/profileUpload"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="file" name="profileImage" style="display: none" />
            <input type="hidden" name="userId" th:value="${respDto.user.id}" />
          </form>
          <a
            class="modal-body"
            style="color: dodgerblue; font-weight: 600"
            id="profile_image"
          >
            사진 업로드
          </a>
          <a
            class="modal-body"
            style="color: red; font-weight: 600"
            id="profile__image__delete"
          >
            현재 사진 삭제
          </a>
          <a class="modal-body" href="" data-dismiss="modal"> 취소 </a>

          <!-- Modal footer -->
          <!-- <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- 프로필이미지 클릭모달창 -->
    <script>
      $(function () {
        //이미지 클릭시 업로드창 실행
        $("#profile_image").click(function () {
          $("input[name='profileImage']").click();
        });
        //업로드 파일체인지가 됬을경우 실행되는 이벤트  form태그에 fileProfile은 hidden으로 넣어줌
        $("input[name='profileImage']").change(function (e) {
          $("#frm_profile_img").submit();
        });
        $("#profile__image__delete").click(function () {
          $("#frm_profile_img").submit();
        });
      });
    </script>

    <script>
      $(function () {
        $("#profile__overlay-link3").thinScrollbar();
      });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/profile.js"></script>
    <footer th:replace="layout/footer :: footer"></footer>
  </body>
</html>