<html>
  <head th:replace="layout/header :: header"></head>
  <body>
    <nav th:replace="layout/header :: menu"></nav>
    <main id="edit-profile">
      <div class="edit-profile__container u-default-box">
        <header class="edit-profile__header">
          <div class="fucker-container">
            <img
              th:src="|/upload/${session.loginUser.imageUrl}|"
              src="/upload/{{#user.profileImage}}{{user.profileImage}}{{/user.profileImage}}"
              onerror="this.src='/images/avatar.jpg'"
            />
          </div>
          <!-- master comments -->
          <h1 class="edit-profile__username" th:text="${user.username}">
            <!-- {{user.username}} -->
          </h1>
        </header>
        <form id="frm" class="edit-profile__form">
          <input type="hidden" name="id" th:value="${user.id}" />
          <!-- <input type="hidden" name="id" value="{{user.id}}" /> -->
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="name" th:text="이름"
              >Name</label
            >
            <input name="name" type="text" th:value="${user.name}" />
            <!-- <input name="name" type="text" value="{{user.name}}" /> -->
          </div>
          <div class="edit-profile__row">
            <label
              class="edit-profile__label"
              for="username"
              th:text="|사용자 이름|"
              >Username</label
            >
            <input type="text" th:value="${user.username}" readonly />
            <!-- <input type="text" value="{{user.username}}" readonly /> -->
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="website" th:text="웹사이트"
              >Website</label
            >
            <input name="website" type="text" th:value="${user.website}" />
            <!-- value="{{#user.website}}{{user.website}}{{/user.website}}" -->
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="bio" th:text="소개"
              >Bio</label
            >
            <input name="bio" type="text" th:value="${user.bio}" />
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="email" th:text="이메일"
              >Email</label
            >
            <input type="email" th:value="${user.email}" readonly />
            <!-- <input type="email" value="{{user.email}}" readonly /> -->
          </div>
          <div class="edit-profile__row">
            <label
              class="edit-profile__label"
              for="phone-number"
              th:text="전화번호"
              >Phone Number</label
            >
            <input name="phone" type="text" th:value="${user.phone}" />
          </div>
          <div class="edit-profile__row">
            <label class="edit-profile__label" for="gender" th:text="성별"
              >Gender</label
            >
            <input name="gender" type="text" th:value="${user.gender}" />
          </div>
          <div class="edit-profile__row">
            <span></span>
            <button
              th:onclick="|userUpdate(${user.id})|"
              class="profile_follow_btn"
              type="button"
              th:text="|프로필 수정|"
            >
              회원수정
            </button>
            <!-- <button onclick="userUpdate({{user.id}})" class="profile_follow_btn" type="button"> -->
          </div>
        </form>
      </div>
    </main>
    <script src="/js/profile.js"></script>
    <footer th:replace="layout/footer :: footer"></footer>
  </body>
</html>
