.navigation {
  width: 1040px;
  background: white;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 60px;
  padding-left: 40px;
}
#nav__background {
  width: 100%;
  position: fixed;
  top: 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.navigation input {
  height: 28px;
  width: 215px;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 0;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  font-size: 14px;
}

.navigation input::placeholder {
  text-align: center;
}
.navigation input:focus::placeholder {
  text-align: left;
  margin-left: 4px;
}
.navigation input:focus {
  outline: none;
  /* background: white; */
}

.navigation .navigation__links {
  display: flex;
  justify-content: flex-end;
}

.navigation__links .navigation__link {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-left: 20px;
  animation: 0.5s drop ease-out forwards;
  opacity: 0;
}

.navigation__links .navigation__link:nth-child(2) {
  animation-delay: 0.15s;
}
.navigation__links .navigation__link:nth-child(3) {
  animation-delay: 0.3s;
}
.btn-group > .navigation__link {
  animation-delay: 0.45s;
}

.navigation__links .navigation__link:last-child {
  animation-delay: 0.6s;
}

@keyframes drop {
  from {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.navigation > a > img {
  margin-top: 5px;
  margin-right: 100px;
}

.dropdown-menu {
  width: 220px;
  top: 9px !important;
  left: 20px !important;
  padding: 0px !important;
}
.dropdown-item {
  font-size: 15px;
  padding: 15px 15px;
  height: 40px;
}
.dropdown-divider {
  margin: 0px;
}

.nav-profile-image img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

#XWrBI {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

#_2ciX {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 75ms linear,-webkit-transform 38ms ease-out;
    transition: opacity 75ms linear,-webkit-transform 38ms ease-out;
    transition: opacity 75ms linear,transform 38ms ease-out;
    transition: opacity 75ms linear,transform 38ms ease-out,-webkit-transform 38ms ease-out;
}

#tWgj8 {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#uo5MA {
    background: #fff;
    background: rgba(var(--d87,255,255,255),1);
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    -webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    position: absolute;
    z-index: 3;
}
/* 스크롤바없이 스크롤하기 구현 */
#f7Bj3 {
    max-height: 200px;
    min-height: 90px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 500px;
}
#f7Bj3::-webkit-scrollbar {
    display: none; 
}
.PUHRj:last-child {
    padding-bottom: 12px;
}

.H_sJK {
    cursor: pointer;
}

.PUHRj {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 40px;
    padding: 12px 16px 13px;
    position: relative;
    white-space: normal;
}

.cek9Q {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.H59PT {
    display: inline-block;
}

