.navigation {
  width: 1040px;
  background: white;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 60px;
  padding-left: 40px;
}
#nav__background {
  width: 100%;
  position: fixed;
  top: 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.navigation input {
  height: 28px;
  width: 215px;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 0;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  font-size: 14px;
}

.navigation input::placeholder {
  text-align: center;
}
.navigation input:focus::placeholder {
  text-align: left;
  margin-left: 4px;
}
.navigation input:focus {
  outline: none;
  /* background: white; */
}

.navigation .navigation__links {
  display: flex;
  justify-content: flex-end;
}

.navigation__links .navigation__link {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-left: 20px;
  animation: 0.5s drop ease-out forwards;
  opacity: 0;
}

.navigation__links .navigation__link:nth-child(2) {
  animation-delay: 0.15s;
}
.navigation__links .navigation__link:nth-child(3) {
  animation-delay: 0.3s;
}
.btn-group > .navigation__link {
  animation-delay: 0.45s;
}

.navigation__links .navigation__link:last-child {
  animation-delay: 0.6s;
}

@keyframes drop {
  from {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.navigation > a > img {
  margin-top: 5px;
  margin-right: 100px;
}

.dropdown-menu {
  width: 220px;
  top: 9px !important;
  left: 20px !important;
  padding: 0px !important;
}
.dropdown-item {
  font-size: 15px;
  padding: 15px 15px;
  height: 40px;
}
.dropdown-divider {
  margin: 0px;
}

.nav-profile-image img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
